<div class="box">
    <div>
        <p>correct: {{correctAmount}}</p>
        <p>error: {{errorAmount}}</p>
    </div>
    <form v-on:submit.prevent="onQuestFormSubmit">
        <input type="text" readonly v-model="question" :disabled="showValidation && isValid">
        <br>
        <input type="text" autocomplete="off" v-model="answer" ref="answer" :disabled="showValidation && isValid">
        <br>
        <button :hidden="showValidation && isValid">validate</button>
        <v-ons-button modifier="large" :hidden="showValidation && isValid" onclick="this.parentNode.submit()" style="margin-bottom:5px;">validate</v-ons-button>
    </form>
    <form v-on:submit.prevent="onSkipFormSubmit" :hidden="showValidation && isValid">
        <v-ons-button modifier="large" onclick="this.parentNode.submit()">skip</v-ons-button>
    </form>
    
    <form v-on:submit.prevent="onResultFormSubmit" :hidden="!showValidation">
        <div :hidden="!isValid">
            correct, continue?
            <button ref="next">OK</button>
        </div>
        <div :hidden="isValid">
            error, try again
        </div>
    </form>
</div>